@page
<br />
<br />
<br />
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4"><input type="text" id="userInput" /></div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>Daniel</h2>
                <div class="chat-panel panel panel-default">
                    <div class="panel-heading">
                        Welcome to chat function
                        <i class="fa fa-paper-plane fa-fw"></i>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body" id="chat" style="height:500px;">
                        @*<input type="hidden" id="displayname" />

                        <p id="discussion"></p>*@
                        <div class="row">
                            <div class="col-12">
                                <ul id="messagesList"></ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="messageInput" type="text" name="message" class="form-control input-sm" placeholder="Type your message here..." />

                            <span class="input-group-btn">
                                <input type="button" class="btn btn-warning btn-md" id="sendButton" value="Send">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Chat.js"></script>