<hr />
<hr />
<hr />
<hr />
<h3>Terima Kasih Sudah Mengkonfirmasi Email</h3>
<div class="d-flex justify-content-center my-2">
    Sudah punya akun?&nbsp;&nbsp;<a asp-action="index" asp-controller="Landing" >Sign In</a>
</div>