@model RegisterCreator

@{
    ViewData["Title"] = "Register";
}

<div class="container profileCreatorContent">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form id="registerForm" method="post">
                <span class="landingTitle">Register Creator Account</span>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" aria-required="true" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Gender"></label>
                    <select asp-for="Gender" id="ddlgender" class="form-control">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="DoB" class="control-label"></label>
                    <input asp-for="DoB" id="datepicker" type="text" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="DoB" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="UsernameIg"></label>
                    <input asp-for="UsernameIg" class="form-control" aria-required="true" />
                    <span asp-validation-for="UsernameIg" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Provinsi" class="control-label">Province</label>
                    <select asp-for="Provinsi" id="ddlprovinsi" class="form-control" asp-items="@(new SelectList(string.Empty, "Value", "Text"))"></select>
                    <span asp-validation-for="Provinsi" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Kota" class="control-label">City</label>
                    <select asp-for="Kota" id="ddlkota" class="form-control" asp-items="@(new SelectList(string.Empty, "Value", "Text"))"></select>
                    <span asp-validation-for="Kota" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <hr />
                <button name="submit" type="submit" value="submit" class="w-100 btn btn-lg btn-primary bgColor">Register</button>
                <br />
                <div class="d-flex justify-content-center my-2">
                    Already have account?&nbsp;<a asp-action="index" asp-controller="Landing" >Sign In</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/listProvinsiKota.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
}