@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<div class="container resetContent">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form id="registerForm" method="post">
                <span class="landingTitle">Reset Password</span>
                <hr/>
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Email"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Password"></label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="ConfirmPassword"></label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <hr/>
                <button name="submit" type="submit" value="submit" class="w-100 btn btn-lg btn-primary bgColor">Reset</button>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}