@{
    ViewData["Title"] = "Reset Password Success";
}

<div class="container notifContent">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <img src="../Img/System/LandingPagePic.png" class="rounded mx-auto d-block">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <span class="notifTitle">&nbsp;&nbsp;&nbsp;Reset Password Success!</span>
        </div>
    </div>
</div>