<hr />
<hr />
<hr />
<hr />
<div class="d-flex justify-content-center my-2">
    <span class="landingTitle">Reset Password Berhasil</span>
    <hr/>
    Sudah punya akun?&nbsp;&nbsp;<a asp-action="index" asp-controller="Landing" >Sign In</a>
</div>