@model LandingModel

@{
    ViewData["Title"] = "Dicer";
}

<div class="container landingContent">
    <div class="row align-items-center ">
        <div class="col-md-6 ">
            <form method="post">
                <span class="landingTitle">Digital Creator Platform</span>
                <hr/>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <hr/>
                <button type="submit" class="align-self-center w-100 btn btn-lg btn-primary bgColor">Login</button>
                <div class="d-flex justify-content-center my-2">
                    Forget password?&nbsp;
                    <a asp-action="forgotPassword" asp-controller="Account">Click here</a>
                </div>
                <div class="d-flex justify-content-center my-2">
                    Don't have account?&nbsp;
                    <a asp-action="register" asp-controller="Account" >Sign Up as Client</a>&nbsp;&nbsp;
                    <a asp-action="registerCreator" asp-controller="Account" >Sign Up as Creator</a>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <img src="../Img/System/LandingPagePic.png" class="rounded mx-auto d-block">
        </div>
    </div>
</div>
    


