@model LandingModel

@{
    ViewData["Title"] = "DiCer";
}


<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h2>Login</h2>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Email" class="form-control" />
                <label asp-for="Email" class="form-label"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Password" class="form-control" />
                <label asp-for="Password" class="form-label"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <hr />
            <button type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
            <div class="d-flex">
                belum punya akun?<a asp-action="register" asp-controller="Account" >Sign Up</a>
            </div>
        </form>
    </div>
</div>
