@model HomeModel

@{
    ViewData["Title"] = "Home Client";
}

<div class="container homeClientContent">
    <div class="row">
        <div class="col">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../Img/System/lofi.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="display-4 font-weight-bold">FIND UR BEST <br> CONTENT CREATOR</h1>
                        <hr class="my-4">
                        <p class="lead">Make campaign and find content creator that suits you the best!</p>
                        @*<a class="btn btn-primary btn-lg font-weight-bold" href="#" role="button">CREATE</a>*@
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../Img/System/poster.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../Img/System/lofi.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        </div>
    </div>
    <div class="row justify-content-between align-items-center mt-3">
        <div class="col-md-3">
            <span class="homeTitle">My Campaign</span>
            @*<h4>My Campaign</h4>*@
        </div>
        <div class="col-md-2">          
                @*<button type ="button" onclick="location.href='@Url.Action("index","CreateCampaign")'" class="w-100 btn btn-sm btn-primary bgColor btnCreateCampaign">Create</button>*@
                <a class="btn btn-primary btn-lg font-weight-bold createBtn" href="#" role="button">Add+</a>
        </div>
    </div>
    <div class="row align-items-center ">
        <div class="col-md-12 ">          
             <hr class="@*lineHome*@">
        </div>
    </div>
    <div class="card-deck">
        <div class="card bg-light border-light" style="width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top p" src="../Img/System/msGlow.png" alt="Card image cap">
                    <h6 class="card-title font-weight-bold mt-3">MS GLOW FOR MEN</h6>
                    <h6 class="text-truncate">MS GLOW UP#GlowUpStarterPack</h6>
                    <p class="contentType"> Instagram Story, Instagram Reels</p>
                    <h6 class="contentPrice">Rp. 100.000</h6>
                    <p class="card-text text-truncate">Jadilah brand ambassador untuk MS GLOW MEN dan dapatkan berbagai keuntungan disini.</p>
                </div>
        </div>
        <div class="card bg-light border-light" style="width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top" src="../Img/System/poster.jpg" alt="Card image cap">
                    <h6 class="card-title font-weight-bold mt-3">MS GLOW FOR MEN</h6>
                    <h6>MS GLOW UP#GlowUpStarterPack</h6>
                    <p class="contentType"> Instagram Story, Instagram Reels</p>
                    <h6 class="contentPrice">Rp. 100.000</h6>
                    <p class="card-text">Jadilah brand ambassador untuk MS GLOW MEN dan dapatkan berbagai keuntungan disini.</p>
                </div>
        </div>
        <div class="card bg-light border-light" style="width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top" src="../Img/System/poster.jpg" alt="Card image cap">
                    <h6 class="card-title font-weight-bold mt-3">MS GLOW FOR MEN</h6>
                    <h6>MS GLOW UP#GlowUpStarterPack</h6>
                    <p class="contentType"> Instagram Story, Instagram Reels</p>
                    <h6 class="contentPrice">Rp. 100.000</h6>
                    <p class="card-text">Jadilah brand ambassador untuk MS GLOW MEN dan dapatkan berbagai keuntungan disini.</p>
                </div>
        </div>
    </div>
    
    @*<div class="row justify-content-around">
        <div class="col-md-4 ">
            
        </div>
        <div class="col-md-4">
            <div class="card bg-light border-light" style="width: 20.5rem;">
                <img class="card-img-top" src="../Img/System/kamera.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">DSLR NIKON</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light border-light" style="width: 20.5rem;">
                <img class="card-img-top" src="../Img/System/speaker.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">SPEAKER SONOS</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>*@
</div>

@*<span class="landingTitle">Digital Creator Platform</span>
                <div class="form-group mb-3">
                    <label class="form-label"></label>
                    <input class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <hr/>
                <button type="submit" class="align-self-center w-100 btn btn-lg btn-primary bgColor">Login</button>
                <div class="d-flex justify-content-center my-2">
                    Forget password?&nbsp;
                    <a asp-action="forgotPassword" asp-controller="Account">Click here</a>
                </div>
                <div class="d-flex justify-content-center my-2">
                    Don't have account?&nbsp;
                    <a asp-action="register" asp-controller="Account" >Sign Up as Client</a>&nbsp;&nbsp;
                    <a asp-action="registerCreator" asp-controller="Account" >Sign Up as Creator</a>
                </div>*@
    



