@model PaginatedList<Dicer.Models.Campaign>

@{
    ViewData["Title"] = "Home Client";
}

<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
<h2>Index</h2>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="HomeCreator"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="HomeCreator"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>