@model CampaignViewModel
@inject UserManager<ApplicationUser> userManager;

@{
    var user = await userManager.GetUserAsync(User);
    ViewData["Title"] = "Create Campaign";
    var photoPath = "~/Img/Campaign/" + (ViewData["Img"] ?? "noimage.jpg");
}
<input id="InitProvinsi" value= "@ViewData["Provinsi"]"/>
<input id="InitKota" value="@ViewData["Kota"]"/>

<div class="container profileCreatorContent">
    <span class="landingTitle d-flex justify-content-center">Detail Campaign</span>
    <hr />
    @if (User.IsInRole("Client"))
    {
        <div class="form-row justify-content-center">
            <div class="col-md-3 mx-1">
                <a asp-action="Edit" asp-route-id=@Model.CampaignId class="w-100 btn btn-lg btn-primary bgColor">Edit</a>
            </div>
        </div>
    }

    <div class="form-row justify-content-around">
        <div class="col-md-3">
            <div class="form-group mb-3">
                    <img class="card-img-top" src="@photoPath" asp-append-version="true"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group mb-3">
                <label asp-for="CampaignName"></label>
                <input asp-for="CampaignName" class="form-control" disabled />
            </div>
            <div class="form-group mb-3">
                <label asp-for="ContentType"></label>
                <input asp-for="ContentType" class="form-control" disabled />
            </div>
            <div class="form-group mb-3">
                <label asp-for="Genre"></label>
                <input asp-for="Genre" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="5" cols="5" class="form-control" disabled ></textarea>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Commission"></label>
                <input asp-for="Commission" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Task"></label>
                <textarea asp-for="Task" rows="5" cols="5" class="form-control" disabled ></textarea>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group mb-3">
                <label asp-for="Gender"></label>
                <input asp-for="Gender" class="form-control" disabled />
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Province</label>
                <input id="provinsi" class="form-control" disabled />
            </div>
            <div class="form-group mb-3">
                <label class="control-label">City</label>
                <input id="kota" class="form-control" disabled />
            </div>
            <div class="form-group mb-3">
                <label asp-for="MinFollowers"></label>
                <input asp-for="MinFollowers" class="form-control" disabled />
            </div>
            <div class="form-group mb-3">
                <label asp-for="MinAge"></label>
                <input asp-for="MinAge" class="form-control" disabled />
            </div>
            <div class="form-group mb-3">
                <label asp-for="MaxAge"></label>
                <input asp-for="MaxAge" class="form-control" disabled/>
            </div>
        </div>
    </div>
    <hr/>
@*    <div class="form-row justify-content-center">
        <div class="col-md-3 mx-1">
            <a asp-action="Edit" class="w-100 btn btn-lg btn-primary bgColor">Cancel</a>
        </div>
        <div class="col-md-3 mx-1">
            <button name="submit" type="submit" value="submit" class="w-100 btn btn-lg btn-primary bgColor">Update</button>
        </div>
    </div>*@
</div>
@section Scripts {
    <script src="~/js/DetailClientCampaign.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
}